* {
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.App-header {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 7vh;
}

main {
    position: relative;
    background-color: #282c34;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;
}

.box {
    position: sticky;
    top: 10vh;
}

.console {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.console::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    opacity: 0.2;
    z-index: -1;
    background: url(./logo.png) center center no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

.consolelog {
    min-height: 100px;
    max-height: 50vh;    
    overflow: auto;
}

.consolelog code {
   white-space: normal; 
}

.box h6 {
    position: absolute;
    top: 1px;
    left: 75px;
    opacity: 0.7;
}

.categories {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    color: white;
    background-color: #2d2d2d;
    font-size: 18px;
}

.snippets {
    max-width: 50%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.btn-search {
    box-sizing: border-box;
    padding: 10px;
    color: white;
    background-color: #2d2d2d;
    font-size: 18px;
}

#code {
    position: relative;
    box-sizing: border-box;
    width: 97%;
    padding: 15px;
    margin: 0 15px;
    color: #61dafb;
    background-color: rgba(105, 105, 105, 0.218);
    border: 1px solid #61dafb;
    border-radius: 15px;
    transition: all 0.5s ease;
    font-size: 1em;
    overflow: auto;
}

#code:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

pre {
    position: relative;
    font-size: 1em;
    text-align: left;
    line-height: 1.5;
    border-radius: .3em;
    border: .3em solid hsl(0, 0%, 33%);
    box-shadow: 1px 1px 0.5em black inset;
    margin: .4em 0;
    overflow: auto;
    padding: 1em;
    background: hsl(200, 4%, 16%);
}

pre:hover {
    box-shadow: 0 0 60px 20px rgba(255, 255, 255, 0.1), 0 0 100px 40px rgba(255, 0, 255, 0.1), 0 0 100px 90px rgba(0, 255, 255, 0.1) !important;
}

pre button {
    color: rgba(255, 255, 255, 0.5);
    padding: 2px;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: rgba(105, 105, 105, 0.218);
    border: 1px solid #61dafb;
    border-radius: 5px;
    transition: all 0.5s ease;
}

pre button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(105, 105, 105, 0.218);
}

.App-link {
    color: #61dafb;
}

.btn-executar {
    margin: 5px;
    padding: 10px;
    color: #61dafb;
    background-color: rgba(105, 105, 105, 0.218);
    border: 1px solid #8cccdd;
    border-radius: 5px;
    transition: all 0.5s ease;
    font-size: 16px;
}

.btn-executar:hover {
    background-color: rgba(105, 105, 105, 0.7);
    color: #dbf7ff;
}